div:nth-child(2n) {
    background: red;
}

div:nth-child(2n+1) {
    background: green;
}

.first {
    float: right;
    width: 20%;
}

.second {
    margin-right: 20%;
}

.third {
    float: left;
    width: 20%;
}

.fourth {
    margin-left: 20%;
}